pre,
code {
  font-family: $monospaced;
}

code {
  background-color: $surface;
  border: 1px solid $border;
  border-radius: 4px;
  color: $code-color;
  font-size: 85%;
  padding: .2em .45em;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.highlight {
  background-color: $code-bg;
  border: 1px solid $border;
  border-radius: 6px;
  line-height: 1.5;
  margin: 0 0 1.25rem;
  padding: 1.1rem 1.25rem;
  overflow-x: auto;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $text-light;
    display: inline-block;
    padding: 0 1rem 0 0.25rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    font-size: 0.85em;
  }
}
